
@mixin dropdown-template{

	position: relative;
	background-color: white;
	color : black;
	width: 30%;
	padding : 10px 15px;
	font-size: 1.1rem;
	cursor: pointer;
	font-size: 0.9rem;

	font-family: 'Open Sans';

	font-weight: 600;

	.placeholder
	{
		color : #D5D7E5;
	}

	.placeholder.active
	{
		color : black;
	}

	svg
	{
		position: absolute;
		right: 15px;
		top : 50%;
		transform:translateY(-50%);
	}

	.options
	{

		ul
		{
			position: absolute;
			// background-color: yellow;
			// background: rgba(213, 215, 229, 1);
			background: #FFFFFF;
			color : black;
			width : 100%;
			top : 39px;
			left : 0px;
			margin : 0px auto;
			
			list-style: none;
			width: 100%;
			padding : 0px 0px;
			margin: 0px;

			li
			{
				padding : 10px 15px;
				// border: 1px solid black;
				border : 1px solid rgba(213,215,229,0.3);
				color : #050417;
				font-weight: 600;
				font-size: 14px;
				line-height: 19px;
				// width: 100%;

				span
				{
					padding: 0px;
					margin: 0px;
				}

			}

			li:hover
			{
				// background-color: red;
				background: rgba(213, 215, 229, 0.3);
			}

		}

	}

}


.dropdown
{
	@include dropdown-template;
	border-radius: 3px;

	.shadow
	{
		left : 0;
		position: absolute;
		z-index: -1;
		width: 95%;
		margin : 0px 50%;
		top : 18px;
		border-radius: 4px;
		transform: translateX(-50%);
		height: 25px;
		background-color: #d5d7e5;

	}

}

.dropdown.active
{
	@include dropdown-template;
	border-radius: 3px 3px 0px 0px;
}
