.navbar
{
	background-color: #050417;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	top : 0px !important;

	input
	{
		width : 30%;
		font-size: 1.1rem;
		padding : 10px 15px;
		border : none;
		border-radius: 4px;
	}

	select::-ms-expand {
		// display: none;
		padding-right: 30px;
	}

	select
	{
		width: 30%;
		font-size: 1.1rem;
		padding : 10px 15px;
		border : none;
		border-radius: 4px;
		background-color: white;

		// remove arrow
		margin: 0;      
		-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

		// adjust arrow
		background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
		background-repeat: no-repeat;
		background-position:	97% 50%;
		border: 1px solid #dfdfdf;
		border-radius: 2px;

		option
		{
			color : red;
			font-weight: bold;
			background-color: yellow;
			font-size: 1.5rem;
			border : 1px solid orange;
			
		}



	}



	button
	{
		background-color: #2A2B8D;
		border: none;
		color : white;
		padding : 15px 100px;
		border-radius: 100px;
		font-weight: 700;
		font-size: 1.1rem;
		cursor: pointer;
	}

}


